################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#/IO_Link.csproj
*.vsidx